<h1>Home</h1>
<button (click)="onClickNavigateDifferent()">Go to different page</button>
<input #nameInput type="text" value="bob" />
<button (click)="sayHello(nameInput.value)">Say hi</button>
<input #dateInput type="date" />
<p>Some text, {{ sayHello("James") }}</p>
<p>The date is {{ dateInput.value | date : "MMMM dd yyyy" | uppercase }}</p>
<app-show-person [name]="nameInput.value" [age]="1"></app-show-person>
