<!-- CHILD - PARENT COMPONTENT INTERACTION A-B-C -->
<app-header
  (textForFooterEvent)="processText($event)"
  [headerName]="today.toDateString()"
></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer [text]="footerText"></app-footer>
