<div class="container p-5">
  <div class="row m-4">
    Select a package:
    <select (change)="onPackageChange($event)">
      <option value="">Select one...</option>
      <option *ngFor="let package of packages" [value]="package.id">
        {{ package.name }}
      </option>
      
    </select>
  </div>
  <div class="row m-2">
    <h3>{{ packageName }}</h3>
  </div>
  <div class="row m-1">
    <p>{{ location }}</p>
  </div>
  <div class="row m-1">
    <p>{{ price }}</p>
  </div>
</div>
