<p class="hi bye">hard coded classes</p>
<p [ngClass]="['hi', 'bye']">semi hard coded</p>
<p [ngClass]="{'hi': true, 'bye': false}">more fun with objects</p>
<input [(ngModel)]="choice" type="text">
<p [ngClass]="classObj">even more fun with objects</p>
<h1 *ngIf="false">Test</h1>
<img *ngFor="let image of images" [src]="image.url">