<ul>
  <li *ngFor="let book of books">
    {{ book.title }} - {{ book.author }} - {{ book.isbn }}
  </li>
</ul>

<form (submit)="onAddBookSubmit()">
  Title: <input type="text" [(ngModel)]="newBook.title" name="title" />
  Author: <input type="text" [(ngModel)]="newBook.author" name="author" />
  Isbn: <input type="text" [(ngModel)]="newBook.isbn" name="isbn" />
  <input type="submit" value="add book">
</form>
